.project-card{
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.06); height:100%; display:flex; flex-wrap:wrap; transition:all .2s;
  header{
    position:relative;
    .button-secondary{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%) scale(.9); opacity:0; transition:all .2s; z-index:5; white-space:nowrap;}
  }
  figure{
    height:200px; position:relative; background:#354A48; border-radius:4px 4px 0 0; overflow:hidden;
    img{width:100%; height:100%; object-fit:cover; transition:all .2s;}
  }
  main{padding:25px 30px;}
  h2{
    transition:all .2s; color:$text-dark-grey;
    &:hover{color:$secondary;}
  }
  p{transition:all .2s;}
  footer{
    padding:0 30px 25px; width:100%;
    img{height:25px; width:25px; border-radius:100%;}
    a{
      color:$text-grey; transition:all .2s;
      &:hover{color:$text-dark-grey;}
    }
  }
  &:hover{
    box-shadow:0 0 15px 0 rgba(0,0,0,.1);
    p{color:$text-dark-grey;}
    figure img{opacity:.9; border-radius:4px 4px 0 0;}
    .button-secondary{opacity:1; transform:translate(-50%, -50%) scale(1);}
  }
}

.project-card__category{
  display:inline-block; height:40px; width:40px; border-radius:100%; position:absolute; top:15px; left:15px; background:#354A48; transition:all .2s; z-index:5;
  &:before{content:attr(data-title); background:#354A48; padding:5px 10px; border-radius:2px; position:absolute; bottom:calc(100% + 2px); left:50%; transform:translate(-50%, 5px); font-size:12px; color:white; opacity:0; transition:all .2s;}
  &:after{content:''; position:absolute; bottom:calc(100% - 15px); left:50%; border:10px solid transparent; border-top-color:#354A48; opacity:0; transform:translate(-50% ,5px); transition:all .2s;}
  &:hover{
    cursor:pointer; background:$secondary;
    &:before, &:after{opacity:1; transform:translate(-50%, 0);}
  }
}

.project-card__tag{
  position:absolute; bottom:15px; right:-5px; padding:7px 13px 8px; z-index:5;
}

.project-card__type__stage{border-radius:3px 0 0 3px;}
.project-card__type__title{border-radius:0 3px 3px 0;}
.project-card__type__loan-percent{margin-left:-3px; border:2px solid $bg-grey; border-radius:0 3px 3px 0;}

.project-card__gauge{
  & > i{
    width:100%; height:6px; border-radius:30px; overflow:hidden; position:relative;
    i{position:absolute; width:100%; height:100%; background: linear-gradient(270deg, #FFF587 30%, #3CB591 100%);}
  }
  &.full{
    & > i{
      i{background:$primary;}
    }
  }
}