@charset "UTF-8";
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
i, cite, em, var, address, dfn{font-style:initial;}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{margin:0; font-weight:normal; line-height:1.1;}
ul{margin-bottom:0;}
p{margin-bottom:0;}
strong{font-weight:600;}

*{box-sizing: border-box; padding:0; margin:0;}
button{outline:none !important;}
a{
  text-decoration:none; color:inherit;
  &.color-primary, &.color-primary, &.color-dark-grey{
    transition:all .2s;
    &:hover{opacity:.7;}
  }
}
a:hover{text-decoration: none !important; outline:0 !important;}
a:focus{text-decoration: none !important;}

img {-webkit-user-drag: none;}

html, body{
  overflow-x:hidden;
  &.noScroll{
    overflow:hidden;
  }
}

body{
  font-family: 'Roboto'; line-height:1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color:$text-grey;
}

//////////////////////////
/////    BACKGROUND   ////
//////////////////////////
.bg-cover{@include bg-cover();}
.bg-contain{@include bg-contain();}

//////////////////////////
/////    FILIGRANE    ////
//////////////////////////
.filigrane{width:100%; height:100%;}


//////////////////////////
/////      TEXTE     /////
//////////////////////////
.roboto{font-family:"Roboto";}
.lato{font-family:"Lato";}
.light{font-weight:200 !important;}
.normal{font-weight:400 !important;}
.medium{font-weight:600 !important;}
.bold{font-weight:700 !important;}
.underline{text-decoration:underline;}
.capitalize{text-transform:capitalize;}
.uppercase{text-transform: uppercase;}
.italic{font-style: italic;}
.pre-wrap{white-space:pre-wrap;}


//////////////////////////
/////    POSITION    /////
//////////////////////////
.relative{position:relative !important;}
.absolute{position:absolute !important;}


//////////////////////////
/////    DISPLAYS    /////
//////////////////////////
.hide{display:none !important;}
.inline{display: inline !important;}
.inline-block{display:inline-block !important;}
.block{display: block !important;}
.flex{display: flex !important;}
.centered-content{display: flex; align-items: center; justify-content: center;}


//////////////////////////
/////     AUTRES     /////
//////////////////////////
.clear-both{clear:both;}
.nowrap{white-space:nowrap;}
.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.full-height{height:100% !important;}
.full-width{width:100% !important;}
.no-selection{ user-select: none; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }
.no-border{border:none;}
.pointer{cursor:pointer !important;}
.img-cover{height:100%; width:100%; object-fit:cover;}


//////////////////////////
/////    COULEURS    /////
//////////////////////////
// Color
.color-white{color:$white !important;}
.color-black{color:$black;}
.color-primary{color:$primary !important;}
.color-secondary{color:$secondary !important;}
.color-dark-grey{color:$text-dark-grey !important;}
.color-grey{color:$text-grey !important;}
// Background
.bg-primary{background-color:$primary !important;}
.bg-secondary{background-color:$secondary !important;}
.bg-white{background:$white;}
.bg-transparent{background:transparent;}
.bg-grey{background:$bg-grey;}
.bg-dark-grey{background:$bg-dark-grey;}

//////////////////////////
//////    BUTTON    //////
//////////////////////////
.button-primary{@include button($primary);}
.button-secondary{@include button($secondary);}


//////////////////////////
///// COLUMNS GUTTER /////
//////////////////////////
.row{
  &.row-50{
    margin:0 -25px;
    & > [class*="col"]{padding:0 25px;}
  }
  &.row-40{
    margin:0 -20px;
    & > [class*="col"]{padding:0 20px;}
  }
  &.row-30{
    margin:0 -15px;
    & > [class*="col"]{padding:0 15px;}
  }
  &.row-20{
    margin:0 -10px;
    & > [class*="col"]{padding:0 10px;}
  }
  &.row-15{
    margin:0 -7.5px;
    & > [class*="col"]{padding:0 7.5px;}
  }
  &.row-10{
    margin:0 -5px;
    & > [class*="col"]{padding:0 5px;}
  }
  &.row-0{
    margin:0;
    & > [class*="col"]{padding:0;}
  }
}

//////////////////////////
/////     MIXINS     /////
//////////////////////////
// Font Size
$i:10;
@while $i <= 70{
  .fs#{$i}{
    font-size: $i*1px !important;
  }
  $i:$i+1;
}
// Line height
$b:10;
@while $b <= 40{
  .lh#{$b}{
    line-height: $b*1px !important;
  }
  $b:$b+1;
}

// Border radius
$z:0;
@while $z < 10{
  .br#{$z}{border-radius:$z*1px !important;}
  $z:$z+1;
}

// Margin and Padding
$a:0;
@while $a <= 200{
  // Margin
  .ml#{$a}{margin-left: $a*1px !important;}
  .mr#{$a}{margin-right: $a*1px !important;}
  .mt#{$a}{margin-top: $a*1px !important;}
  .mb#{$a}{margin-bottom: $a*1px!important;}
  .mAll#{$a}{margin: $a*1px !important;}
  // Padding
  .pl#{$a}{padding-left: $a*1px !important;}
  .pr#{$a}{padding-right: $a*1px !important;}
  .pt#{$a}{padding-top: $a*1px !important; }
  .pb#{$a}{padding-bottom: $a*1px !important;}
  .pAll#{$a}{padding: $a*1px !important;}
  @if ($a <= 14){
    $a:$a+1;
  }
  @elseif ($a <= 79){
    $a:$a+5;
  }
  @else{
    $a:$a+10;
  }
}

@include md-down{
  //////////////////////////
  /////     MIXINS     /////
  //////////////////////////
  // Font Size
  $i:10;
  @while $i <= 50{
    .xs-fs#{$i}{
      font-size: $i*1px !important;
    }
    $i:$i+1;
  }
  // Line height
  $b:10;
  @while $b <= 40{
    .xs-lh#{$b}{
      line-height: $b*1px !important;
    }
    $b:$b+1;
  }

  // Margin and Padding
  $a:0;
  @while $a <= 50{
    // Margin
    .xs-ml#{$a}{margin-left: $a*1px !important;}
    .xs-mr#{$a}{margin-right: $a*1px !important;}
    .xs-mt#{$a}{margin-top: $a*1px !important;}
    .xs-mb#{$a}{margin-bottom: $a*1px!important;}
    .xs-mAll#{$a}{margin: $a*1px !important;}
    // Padding
    .xs-pl#{$a}{padding-left: $a*1px !important;}
    .xs-pr#{$a}{padding-right: $a*1px !important;}
    .xs-pt#{$a}{padding-top: $a*1px !important; }
    .xs-pb#{$a}{padding-bottom: $a*1px !important;}
    .xs-pAll#{$a}{padding: $a*1px !important;}
    @if ($a <= 9){
      $a:$a+1;
    }
    @else{
      $a:$a+5;
    }
  }
}