@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

@font-face {
 font-family: "Lato";
 font-weight: 400;
 src: url("assets/fonts/lato/regular/lato-regular.woff2") format("woff2"),
      url("assets/fonts/lato/regular/lato-regular.woff") format("woff");
}

@font-face {
 font-family: "Lato";
 font-weight: 600;
 src: url("assets/fonts/lato/medium/lato-medium.woff2") format("woff2"),
      url("assets/fonts/lato/medium/lato-medium.woff") format("woff");
}

@font-face {
 font-family: "Lato";
 font-weight: 700;
 src: url("assets/fonts/lato/bold/lato-bold.woff2") format("woff2"),
      url("assets/fonts/lato/bold/lato-bold.woff") format("woff");
}