///////////////////////////////
// Backgrounds
@mixin bg-contain(){
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
}
@mixin bg-cover(){
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}
@mixin bg-cover-bot(){
  background-size:cover;
  background-position:center bottom;
  background-repeat:no-repeat;
}
@mixin bg-cover-top(){
  background-size:cover;
  background-position:center top;
  background-repeat:no-repeat;
}

///////////////////////////////
// Absolute positions
@mixin absolute-top-left($top, $left){
  position:absolute;
  top:$top*1px;
  left:$left*1px;
}
@mixin absolute-top-right($top, $right){
  position:absolute;
  top:$top*1px;
  right:$right*1px;
}
@mixin absolute-bottom-left($bottom, $left){
  position:absolute;
  bottom:$bottom*1px;
  left:$left*1px;
}
@mixin absolute-bottom-right($bottom, $right){
  position:absolute;
  bottom:$bottom*1px;
  right:$right*1px;
}
@mixin absolute-center-right($right){
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  right:$right*1px;
}
@mixin absolute-center-left($left){
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  left:$left*1px;
}

///////////////////////////////
// Buttons
@mixin button($color){
  min-height:40px; background:$color; border-radius:40px; display:inline-flex; align-items:center; justify-content:center; padding:0 15px; transition:all .2s; color:white;
  &:hover{box-shadow:0 0 10px 100px rgba(white, .1) inset;}
  &:active{box-shadow:0 0 10px 100px rgba(black, .1) inset;}
}


///////////////////////////////
// Other
@mixin centered-content(){
  display:flex;
  align-items:center;
  justify-content:center;
}
@mixin text-ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
